*{
    box-sizing: border-box;
}
body{
    background-color: rgb(230, 230, 230);
}
article{
    display: block;
    width:90%;
    margin: 2rem auto 0 auto;
height: 90vh;

}

header img{
display: flex;
    width: 30%;
    margin: 2rem auto;
    border: 5px solid;
   animation: rotateColors 2s ease-in-out infinite;
}

@keyframes rotateColors {
    0% {
        border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, violet) 1;
    }
    100% {
        border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red, violet) 1;
        transform: rotate(360deg);
    }
}
nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    text-align: center;
}

a{
    text-decoration: none;
    color:maroon ;
}

main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
text-align: center;
    margin-top: 2rem;
    margin-left:2rem;
    margin-right: 2rem;

   }

.banner{
    grid-column: 1/-1;
}
main img{
    width: 30%;

}

div p{
    text-align: justify;

}

div p:last-child{
    margin-left: 1rem;
}

li{
    text-align: justify;
   padding-bottom: 0.5rem;
    margin-left: 0;
    padding-left: 0;
}

footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
align-items: center;
    text-align: center;
    justify-content: center;
margin-top: 2rem;
}


footer img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40%;
}
footer p{
    text-align: center;
}

